@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Oswald");

html,body {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}

.intro{
  height:100%;
  width:100%;
  margin: auto;
  position: relative;
  background: url("../img/pexels-photo.jpg")no-repeat 50% 50%;
  display: table;
  background-attachment: fixed;
  top :0;
  background-size:cover;
}


.left-pos{
  position:absolute;
  top:20px;
  margin :20px;
  right:20px;
}
.intro .inner{
  display: table-cell;
  vertical-align:middle;
  width:100%;
  max-width:none;
}

.content{
  max-width:500px;
  text-align:center;
  margin:0 auto;
  position:relative;

}
.content h1{
    position: relative;
    z-index: 2;
  font-family: 'Raleway', sans-serif;
  font-size:500%;
  color:#F9F3F4;
  text-shadow: 0 0 300px #000;
}
.content .img img{
  width:200px;
  height:200px;
}
 .btnreg{
  border-radius: 9px;
  font-family: 'Oswald',sans-serif;
  color: #036A81;
  font-size:135%;
  padding :10px 20px;
  border: solid 3px #036A81;
  text-decoration:none;
  text-transform: uppercase;
}
.btnreg:hover{
  border:3px solid #F9F3F4;
  color :#F9F3F4;
}

p{
  font-size:160%;
  text-align:justify;
  line-height:210%;
}



@media screen and (max-width: 750px){
  .content h1{
    font-size:250%;
  }
  .btnreg{
    font-size:110%;
    padding :7px 15px;
  }
  p{
    font-size:100%;
    line-height:160%;
  }
}

/*badges*/


.bdg-sect{
  position:relative;
  z-index:1;
  border: 1px solid white;
  padding-top:100px;
  padding-bottom:100px;
  font-family:Helvetica, serif;
  background-color:rgb(250, 250, 250);
}
.bdg-title{
  text-align:center;
  font-size:2em;
  margin-bottom:55px;
  color:rgb(85, 85, 85);
}
.badges{
  padding-top:20px;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:20px;
  display:flex;
  justify-content:space-around;
  align-items:flex-start;
  flex-wrap:wrap;
}
.single-badge{
  width:290px;
  font-family:Helvetica, serif;
  background-color:white;
  margin-bottom:30px;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
  border-bottom-left-radius:3px;
  font-weight:100;
  overflow-x:hidden;
  overflow-y:hidden;
  text-align:center;
}
.badges-ground1{
  background-image:url("../img/vr.jpe");
  background-position-x:left, center;
  background-position-y:top, center;
  background-attachment:scroll, fixed;
  overflow-x:hidden;
  overflow-y:hidden;
}
.badges-ground2{
  background-image:url("../img/docker.jpe");
  background-position-x:left, center;
  background-position-y:top, center;
  background-attachment:scroll, fixed;
  overflow-x:hidden;
  overflow-y:hidden;
}
.badges-ground3{
  background-image:url("../img/bg.png");
  background-position-x:left, center;
  background-position-y:top, center;
  background-attachment:scroll, fixed;
  overflow-x:hidden;
  overflow-y:hidden;
}
.badges-header{
  height:115px;

}
.badges-name{
  font-size:1.4em;
  margin-bottom:5px;
}
.badges-role{
  color:rgb(119, 119, 119);
  font-size:1em;
  margin-bottom:25px;
}
.badges-desc{
  font-size:16px;
  line-height:20px;
}
.badges-avatar{
  width:100px;
  height:100px;
  border-top-left-radius:100%;
  border-top-right-radius:100%;
  border-bottom-right-radius:100%;
  border-bottom-left-radius:100%;
  border-top-width:5px;
  border-right-width:5px;
  border-bottom-width:5px;
  border-left-width:5px;
  border-top-style:solid;
  border-right-style:solid;
  border-bottom-style:solid;
  border-left-style:solid;
  border-top-color:rgb(255, 255, 255);
  border-right-color:rgb(255, 255, 255);
  border-bottom-color:rgb(255, 255, 255);
  border-left-color:rgb(255, 255, 255);
  border-image-source:initial;
  border-image-slice:initial;
  border-image-width:initial;
  border-image-outset:initial;
  border-image-repeat:initial;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  margin-top:-75px;
  position:relative;
}
.badges-body{
  margin-top:35px;
  margin-right:10px;
  margin-bottom:35px;
  margin-left:10px;
}
.badges-foot{
  color:rgb(255, 255, 255);
  background-color:rgb(162, 144, 165);
  /*background: skyblue;*/
  padding-top:13px;
  padding-bottom:13px;
  display:flex;
  justify-content:center;
}

.social-popout {
	height: 48px;
	width: 48px;
	margin: 10px;
	float: left;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.social-popout img {
	border-radius: 50%;
	margin: 8px;
	width: 90%;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.8);
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.social-popout img:hover {
	margin: 0px;
	box-shadow: 6px 6px 4px 4px rgba(0,0,0,0.3);
}




/*the time maybe*/

.facts i {
  color: #fff;
  font-size: 3em;
}
.facts h3 {
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.section {
  padding: 70px 0;
}

.bg-image, .bg-image-1, .bg-image-2 {
  position: relative;
}
.bg-image::before, .bg-image-1::before, .bg-image-2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-image-1 {
  background: url(../img/bg-1.jpg) no-repeat center center/cover;
}
.bg-image-1::before {
  background-color: rgba(0, 0, 0, 0.7);
}
